/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: 15px;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

code {
  color: #DB4455;
  font-size: 18px;
  font-family: "hack";
}

thead {
  background-color: $border-color;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.8em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.8em;
  border-bottom: 0.7px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}
